.left-navigation{
    color: #f7f9f9;
}

.nav-entry i{
    padding-right:10px;
    padding-left:10px;
    padding-bottom:10px;
}

.head-left-nav{
    background-color: #565555;
    padding:15px 0 15px 20px;
}

.navigation-list{
    list-style: none;
    font-size: 16px;
    margin-left: -40px;
}
.navigation-list li {
    padding-top:15px;
    padding-bottom:15px;
}

.navigation-list li.active{
    background-color:#424141;
    border-left: 5px solid orange;
}
.navigation-list a{
    color:#fff;
    text-decoration: none;
}
